

h2, h4 {
    text-align: center;

}

body {
  background-image: linear-gradient(rgb(202, 207, 210), rgb(214, 137, 16));
  height: 100%;
}

.table{

background-color: rgb(46, 134, 193);

}
  
  div.centre {
    text-align: left;
    width: 400px;
    background-color: #eee;
    display: block;
    margin: auto;
  }

footer {
  position:absolute;
  bottom:0;
  left:0;
  font-size: 0.75em;
  text-align: center;
  padding-top: 30px;
}